.svg-9-man_volleyball {
	background: url("svg/sprite.css.svg") 9.090909090909092% 0 no-repeat;
}

.svg-american_football {
	background: url("svg/sprite.css.svg") 72.72727272727273% 0 no-repeat;
}

.svg-amputee_football {
	background: url("svg/sprite.css.svg") 0 10% no-repeat;
}

.svg-australian_football {
	background: url("svg/sprite.css.svg") 9.090909090909092% 10% no-repeat;
}

.svg-badminton {
	background: url("svg/sprite.css.svg") 18.181818181818183% 0 no-repeat;
}

.svg-ball_badminton {
	background: url("svg/sprite.css.svg") 18.181818181818183% 10% no-repeat;
}

.svg-bandy {
	background: url("svg/sprite.css.svg") 0 20% no-repeat;
}

.svg-baseball {
	background: url("svg/sprite.css.svg") 9.090909090909092% 20% no-repeat;
}

.svg-basketball {
	background: url("svg/sprite.css.svg") 18.181818181818183% 20% no-repeat;
}

.svg-basque_pelota {
	background: url("svg/sprite.css.svg") 27.272727272727273% 0 no-repeat;
}

.svg-beach_basketball {
	background: url("svg/sprite.css.svg") 27.272727272727273% 10% no-repeat;
}

.svg-beach_soccer {
	background: url("svg/sprite.css.svg") 27.272727272727273% 20% no-repeat;
}

.svg-beach_tchoukball {
	background: url("svg/sprite.css.svg") 0 30% no-repeat;
}

.svg-beach_tennis {
	background: url("svg/sprite.css.svg") 9.090909090909092% 30% no-repeat;
}

.svg-beach_ultimate {
	background: url("svg/sprite.css.svg") 18.181818181818183% 30% no-repeat;
}

.svg-beach_volleyball {
	background: url("svg/sprite.css.svg") 27.272727272727273% 30% no-repeat;
}

.svg-biribol {
	background: url("svg/sprite.css.svg") 36.36363636363637% 0 no-repeat;
}

.svg-boatrace {
	background: url("svg/sprite.css.svg") 36.36363636363637% 10% no-repeat;
}

.svg-boccia {
	background: url("svg/sprite.css.svg") 36.36363636363637% 20% no-repeat;
}

.svg-bossaball {
	background: url("svg/sprite.css.svg") 36.36363636363637% 30% no-repeat;
}

.svg-bound_tennis {
	background: url("svg/sprite.css.svg") 0 40% no-repeat;
}

.svg-bowling {
	background: url("svg/sprite.css.svg") 9.090909090909092% 40% no-repeat;
}

.svg-broomball {
	background: url("svg/sprite.css.svg") 18.181818181818183% 40% no-repeat;
}

.svg-canadian_football {
	background: url("svg/sprite.css.svg") 27.272727272727273% 40% no-repeat;
}

.svg-canoe_polo {
	background: url("svg/sprite.css.svg") 36.36363636363637% 40% no-repeat;
}

.svg-climbing {
	background: url("svg/sprite.css.svg") 45.45454545454545% 0 no-repeat;
}

.svg-combat {
	background: url("svg/sprite.css.svg") 45.45454545454545% 10% no-repeat;
}

.svg-crossminton {
	background: url("svg/sprite.css.svg") 45.45454545454545% 20% no-repeat;
}

.svg-curling {
	background: url("svg/sprite.css.svg") 45.45454545454545% 30% no-repeat;
}

.svg-cycle_polo {
	background: url("svg/sprite.css.svg") 45.45454545454545% 40% no-repeat;
}

.svg-cycling {
	background: url("svg/sprite.css.svg") 0 50% no-repeat;
}

.svg-dance {
	background: url("svg/sprite.css.svg") 9.090909090909092% 50% no-repeat;
}

.svg-ecua-volley {
	background: url("svg/sprite.css.svg") 18.181818181818183% 50% no-repeat;
}

.svg-esci_tennis {
	background: url("svg/sprite.css.svg") 27.272727272727273% 50% no-repeat;
}

.svg-extreme_sports {
	background: url("svg/sprite.css.svg") 36.36363636363637% 50% no-repeat;
}

.svg-fencing {
	background: url("svg/sprite.css.svg") 45.45454545454545% 50% no-repeat;
}

.svg-figure_skating {
	background: url("svg/sprite.css.svg") 54.54545454545455% 0 no-repeat;
}

.svg-fistball {
	background: url("svg/sprite.css.svg") 54.54545454545455% 10% no-repeat;
}

.svg-flag_football {
	background: url("svg/sprite.css.svg") 54.54545454545455% 20% no-repeat;
}

.svg-floor_ball {
	background: url("svg/sprite.css.svg") 54.54545454545455% 30% no-repeat;
}

.svg-floor_hockey {
	background: url("svg/sprite.css.svg") 54.54545454545455% 40% no-repeat;
}

.svg-footbag_net {
	background: url("svg/sprite.css.svg") 54.54545454545455% 50% no-repeat;
}

.svg-footvolley {
	background: url("svg/sprite.css.svg") 0 60% no-repeat;
}

.svg-free_tennis {
	background: url("svg/sprite.css.svg") 9.090909090909092% 60% no-repeat;
}

.svg-frontenis {
	background: url("svg/sprite.css.svg") 18.181818181818183% 60% no-repeat;
}

.svg-futsal {
	background: url("svg/sprite.css.svg") 27.272727272727273% 60% no-repeat;
}

.svg-gaelic_football {
	background: url("svg/sprite.css.svg") 36.36363636363637% 60% no-repeat;
}

.svg-goalball {
	background: url("svg/sprite.css.svg") 45.45454545454545% 60% no-repeat;
}

.svg-golf {
	background: url("svg/sprite.css.svg") 54.54545454545455% 60% no-repeat;
}

.svg-gymnastics {
	background: url("svg/sprite.css.svg") 63.63636363636363% 0 no-repeat;
}

.svg-handball {
	background: url("svg/sprite.css.svg") 63.63636363636363% 10% no-repeat;
}

.svg-hardball_squash {
	background: url("svg/sprite.css.svg") 63.63636363636363% 20% no-repeat;
}

.svg-hardcourt_bike_polo {
	background: url("svg/sprite.css.svg") 63.63636363636363% 30% no-repeat;
}

.svg-hockey {
	background: url("svg/sprite.css.svg") 63.63636363636363% 40% no-repeat;
}

.svg-hooverball {
	background: url("svg/sprite.css.svg") 63.63636363636363% 50% no-repeat;
}

.svg-horse_racing {
	background: url("svg/sprite.css.svg") 63.63636363636363% 60% no-repeat;
}

.svg-hurling {
	background: url("svg/sprite.css.svg") 0 70% no-repeat;
}

.svg-ice_hockey {
	background: url("svg/sprite.css.svg") 9.090909090909092% 70% no-repeat;
}

.svg-indiaca {
	background: url("svg/sprite.css.svg") 18.181818181818183% 70% no-repeat;
}

.svg-inline_hockey {
	background: url("svg/sprite.css.svg") 27.272727272727273% 70% no-repeat;
}

.svg-jai_alai {
	background: url("svg/sprite.css.svg") 36.36363636363637% 70% no-repeat;
}

.svg-judo {
	background: url("svg/sprite.css.svg") 45.45454545454545% 70% no-repeat;
}

.svg-kendo {
	background: url("svg/sprite.css.svg") 54.54545454545455% 70% no-repeat;
}

.svg-kin-ball {
	background: url("svg/sprite.css.svg") 63.63636363636363% 70% no-repeat;
}

.svg-korfball {
	background: url("svg/sprite.css.svg") 0 0 no-repeat;
}

.svg-lacrosse {
	background: url("svg/sprite.css.svg") 72.72727272727273% 10% no-repeat;
}

.svg-large_ball {
	background: url("svg/sprite.css.svg") 72.72727272727273% 20% no-repeat;
}

.svg-marine_sports {
	background: url("svg/sprite.css.svg") 72.72727272727273% 30% no-repeat;
}

.svg-mini_basketball {
	background: url("svg/sprite.css.svg") 72.72727272727273% 40% no-repeat;
}

.svg-miniten {
	background: url("svg/sprite.css.svg") 72.72727272727273% 50% no-repeat;
}

.svg-mothers_volleyball {
	background: url("svg/sprite.css.svg") 72.72727272727273% 60% no-repeat;
}

.svg-motorsports {
	background: url("svg/sprite.css.svg") 72.72727272727273% 70% no-repeat;
}

.svg-netball {
	background: url("svg/sprite.css.svg") 0 80% no-repeat;
}

.svg-oztag {
	background: url("svg/sprite.css.svg") 9.090909090909092% 80% no-repeat;
}

.svg-padel {
	background: url("svg/sprite.css.svg") 18.181818181818183% 80% no-repeat;
}

.svg-paleta_fronton {
	background: url("svg/sprite.css.svg") 27.272727272727273% 80% no-repeat;
}

.svg-pelota_mixteca {
	background: url("svg/sprite.css.svg") 36.36363636363637% 80% no-repeat;
}

.svg-peteca {
	background: url("svg/sprite.css.svg") 45.45454545454545% 80% no-repeat;
}

.svg-pickleball {
	background: url("svg/sprite.css.svg") 54.54545454545455% 80% no-repeat;
}

.svg-platform_tennis {
	background: url("svg/sprite.css.svg") 63.63636363636363% 80% no-repeat;
}

.svg-polo {
	background: url("svg/sprite.css.svg") 72.72727272727273% 80% no-repeat;
}

.svg-powerchair_football {
	background: url("svg/sprite.css.svg") 81.81818181818181% 0 no-repeat;
}

.svg-quad_hockey {
	background: url("svg/sprite.css.svg") 81.81818181818181% 10% no-repeat;
}

.svg-rackets {
	background: url("svg/sprite.css.svg") 81.81818181818181% 20% no-repeat;
}

.svg-racquetball {
	background: url("svg/sprite.css.svg") 81.81818181818181% 30% no-repeat;
}

.svg-radball-cycle {
	background: url("svg/sprite.css.svg") 81.81818181818181% 40% no-repeat;
}

.svg-real_tennis {
	background: url("svg/sprite.css.svg") 81.81818181818181% 50% no-repeat;
}

.svg-ringball {
	background: url("svg/sprite.css.svg") 81.81818181818181% 60% no-repeat;
}

.svg-ringette {
	background: url("svg/sprite.css.svg") 81.81818181818181% 70% no-repeat;
}

.svg-roll_ball {
	background: url("svg/sprite.css.svg") 81.81818181818181% 80% no-repeat;
}

.svg-rowing {
	background: url("svg/sprite.css.svg") 0 90% no-repeat;
}

.svg-rugby {
	background: url("svg/sprite.css.svg") 9.090909090909092% 90% no-repeat;
}

.svg-sailing {
	background: url("svg/sprite.css.svg") 18.181818181818183% 90% no-repeat;
}

.svg-sepak_takraw {
	background: url("svg/sprite.css.svg") 27.272727272727273% 90% no-repeat;
}

.svg-shinty {
	background: url("svg/sprite.css.svg") 36.36363636363637% 90% no-repeat;
}

.svg-ski_and_snowboard {
	background: url("svg/sprite.css.svg") 45.45454545454545% 90% no-repeat;
}

.svg-sledge_hockey {
	background: url("svg/sprite.css.svg") 54.54545454545455% 90% no-repeat;
}

.svg-snow_volleyball {
	background: url("svg/sprite.css.svg") 63.63636363636363% 90% no-repeat;
}

.svg-soccer {
	background: url("svg/sprite.css.svg") 72.72727272727273% 90% no-repeat;
}

.svg-soft_tennis {
	background: url("svg/sprite.css.svg") 81.81818181818181% 90% no-repeat;
}

.svg-softball {
	background: url("svg/sprite.css.svg") 90.9090909090909% 0 no-repeat;
}

.svg-speed_ball {
	background: url("svg/sprite.css.svg") 90.9090909090909% 10% no-repeat;
}

.svg-sports_business {
	background: url("svg/sprite.css.svg") 90.9090909090909% 20% no-repeat;
}

.svg-squash {
	background: url("svg/sprite.css.svg") 90.9090909090909% 30% no-repeat;
}

.svg-squash_tennis {
	background: url("svg/sprite.css.svg") 90.9090909090909% 40% no-repeat;
}

.svg-sticke_tennis {
	background: url("svg/sprite.css.svg") 90.9090909090909% 50% no-repeat;
}

.svg-sumo {
	background: url("svg/sprite.css.svg") 90.9090909090909% 60% no-repeat;
}

.svg-swimming {
	background: url("svg/sprite.css.svg") 90.9090909090909% 70% no-repeat;
}

.svg-table_tennis {
	background: url("svg/sprite.css.svg") 90.9090909090909% 80% no-repeat;
}

.svg-tag_rugby {
	background: url("svg/sprite.css.svg") 90.9090909090909% 90% no-repeat;
}

.svg-taspony {
	background: url("svg/sprite.css.svg") 0 100% no-repeat;
}

.svg-tchoukball {
	background: url("svg/sprite.css.svg") 9.090909090909092% 100% no-repeat;
}

.svg-tennis {
	background: url("svg/sprite.css.svg") 18.181818181818183% 100% no-repeat;
}

.svg-throwball {
	background: url("svg/sprite.css.svg") 27.272727272727273% 100% no-repeat;
}

.svg-touch_football {
	background: url("svg/sprite.css.svg") 36.36363636363637% 100% no-repeat;
}

.svg-touch_rugby {
	background: url("svg/sprite.css.svg") 45.45454545454545% 100% no-repeat;
}

.svg-track_and_field {
	background: url("svg/sprite.css.svg") 54.54545454545455% 100% no-repeat;
}

.svg-triathlon {
	background: url("svg/sprite.css.svg") 63.63636363636363% 100% no-repeat;
}

.svg-ultimate {
	background: url("svg/sprite.css.svg") 72.72727272727273% 100% no-repeat;
}

.svg-volleyball {
	background: url("svg/sprite.css.svg") 81.81818181818181% 100% no-repeat;
}

.svg-wall-handball {
	background: url("svg/sprite.css.svg") 90.9090909090909% 100% no-repeat;
}

.svg-wallyball {
	background: url("svg/sprite.css.svg") 100% 0 no-repeat;
}

.svg-water_basketball {
	background: url("svg/sprite.css.svg") 100% 10% no-repeat;
}

.svg-water_polo {
	background: url("svg/sprite.css.svg") 100% 20% no-repeat;
}

.svg-weightlifting {
	background: url("svg/sprite.css.svg") 100% 30% no-repeat;
}

.svg-wheelchair_basketball {
	background: url("svg/sprite.css.svg") 100% 40% no-repeat;
}

.svg-wheelchair_handball {
	background: url("svg/sprite.css.svg") 100% 50% no-repeat;
}

.svg-wheelchair_rugby {
	background: url("svg/sprite.css.svg") 100% 60% no-repeat;
}

.svg-wrestling {
	background: url("svg/sprite.css.svg") 100% 70% no-repeat;
}

