%svg-common {
	background: url("svg/sprite.css.svg") no-repeat;
}

.svg-9-man_volleyball {
	@extend %svg-common;
	background-position: 9.090909090909092% 0;
}

.svg-american_football {
	@extend %svg-common;
	background-position: 72.72727272727273% 0;
}

.svg-amputee_football {
	@extend %svg-common;
	background-position: 0 10%;
}

.svg-australian_football {
	@extend %svg-common;
	background-position: 9.090909090909092% 10%;
}

.svg-badminton {
	@extend %svg-common;
	background-position: 18.181818181818183% 0;
}

.svg-ball_badminton {
	@extend %svg-common;
	background-position: 18.181818181818183% 10%;
}

.svg-bandy {
	@extend %svg-common;
	background-position: 0 20%;
}

.svg-baseball {
	@extend %svg-common;
	background-position: 9.090909090909092% 20%;
}

.svg-basketball {
	@extend %svg-common;
	background-position: 18.181818181818183% 20%;
}

.svg-basque_pelota {
	@extend %svg-common;
	background-position: 27.272727272727273% 0;
}

.svg-beach_basketball {
	@extend %svg-common;
	background-position: 27.272727272727273% 10%;
}

.svg-beach_soccer {
	@extend %svg-common;
	background-position: 27.272727272727273% 20%;
}

.svg-beach_tchoukball {
	@extend %svg-common;
	background-position: 0 30%;
}

.svg-beach_tennis {
	@extend %svg-common;
	background-position: 9.090909090909092% 30%;
}

.svg-beach_ultimate {
	@extend %svg-common;
	background-position: 18.181818181818183% 30%;
}

.svg-beach_volleyball {
	@extend %svg-common;
	background-position: 27.272727272727273% 30%;
}

.svg-biribol {
	@extend %svg-common;
	background-position: 36.36363636363637% 0;
}

.svg-boatrace {
	@extend %svg-common;
	background-position: 36.36363636363637% 10%;
}

.svg-boccia {
	@extend %svg-common;
	background-position: 36.36363636363637% 20%;
}

.svg-bossaball {
	@extend %svg-common;
	background-position: 36.36363636363637% 30%;
}

.svg-bound_tennis {
	@extend %svg-common;
	background-position: 0 40%;
}

.svg-bowling {
	@extend %svg-common;
	background-position: 9.090909090909092% 40%;
}

.svg-broomball {
	@extend %svg-common;
	background-position: 18.181818181818183% 40%;
}

.svg-canadian_football {
	@extend %svg-common;
	background-position: 27.272727272727273% 40%;
}

.svg-canoe_polo {
	@extend %svg-common;
	background-position: 36.36363636363637% 40%;
}

.svg-climbing {
	@extend %svg-common;
	background-position: 45.45454545454545% 0;
}

.svg-combat {
	@extend %svg-common;
	background-position: 45.45454545454545% 10%;
}

.svg-crossminton {
	@extend %svg-common;
	background-position: 45.45454545454545% 20%;
}

.svg-curling {
	@extend %svg-common;
	background-position: 45.45454545454545% 30%;
}

.svg-cycle_polo {
	@extend %svg-common;
	background-position: 45.45454545454545% 40%;
}

.svg-cycling {
	@extend %svg-common;
	background-position: 0 50%;
}

.svg-dance {
	@extend %svg-common;
	background-position: 9.090909090909092% 50%;
}

.svg-ecua-volley {
	@extend %svg-common;
	background-position: 18.181818181818183% 50%;
}

.svg-esci_tennis {
	@extend %svg-common;
	background-position: 27.272727272727273% 50%;
}

.svg-extreme_sports {
	@extend %svg-common;
	background-position: 36.36363636363637% 50%;
}

.svg-fencing {
	@extend %svg-common;
	background-position: 45.45454545454545% 50%;
}

.svg-figure_skating {
	@extend %svg-common;
	background-position: 54.54545454545455% 0;
}

.svg-fistball {
	@extend %svg-common;
	background-position: 54.54545454545455% 10%;
}

.svg-flag_football {
	@extend %svg-common;
	background-position: 54.54545454545455% 20%;
}

.svg-floor_ball {
	@extend %svg-common;
	background-position: 54.54545454545455% 30%;
}

.svg-floor_hockey {
	@extend %svg-common;
	background-position: 54.54545454545455% 40%;
}

.svg-footbag_net {
	@extend %svg-common;
	background-position: 54.54545454545455% 50%;
}

.svg-footvolley {
	@extend %svg-common;
	background-position: 0 60%;
}

.svg-free_tennis {
	@extend %svg-common;
	background-position: 9.090909090909092% 60%;
}

.svg-frontenis {
	@extend %svg-common;
	background-position: 18.181818181818183% 60%;
}

.svg-futsal {
	@extend %svg-common;
	background-position: 27.272727272727273% 60%;
}

.svg-gaelic_football {
	@extend %svg-common;
	background-position: 36.36363636363637% 60%;
}

.svg-goalball {
	@extend %svg-common;
	background-position: 45.45454545454545% 60%;
}

.svg-golf {
	@extend %svg-common;
	background-position: 54.54545454545455% 60%;
}

.svg-gymnastics {
	@extend %svg-common;
	background-position: 63.63636363636363% 0;
}

.svg-handball {
	@extend %svg-common;
	background-position: 63.63636363636363% 10%;
}

.svg-hardball_squash {
	@extend %svg-common;
	background-position: 63.63636363636363% 20%;
}

.svg-hardcourt_bike_polo {
	@extend %svg-common;
	background-position: 63.63636363636363% 30%;
}

.svg-hockey {
	@extend %svg-common;
	background-position: 63.63636363636363% 40%;
}

.svg-hooverball {
	@extend %svg-common;
	background-position: 63.63636363636363% 50%;
}

.svg-horse_racing {
	@extend %svg-common;
	background-position: 63.63636363636363% 60%;
}

.svg-hurling {
	@extend %svg-common;
	background-position: 0 70%;
}

.svg-ice_hockey {
	@extend %svg-common;
	background-position: 9.090909090909092% 70%;
}

.svg-indiaca {
	@extend %svg-common;
	background-position: 18.181818181818183% 70%;
}

.svg-inline_hockey {
	@extend %svg-common;
	background-position: 27.272727272727273% 70%;
}

.svg-jai_alai {
	@extend %svg-common;
	background-position: 36.36363636363637% 70%;
}

.svg-judo {
	@extend %svg-common;
	background-position: 45.45454545454545% 70%;
}

.svg-kendo {
	@extend %svg-common;
	background-position: 54.54545454545455% 70%;
}

.svg-kin-ball {
	@extend %svg-common;
	background-position: 63.63636363636363% 70%;
}

.svg-korfball {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-lacrosse {
	@extend %svg-common;
	background-position: 72.72727272727273% 10%;
}

.svg-large_ball {
	@extend %svg-common;
	background-position: 72.72727272727273% 20%;
}

.svg-marine_sports {
	@extend %svg-common;
	background-position: 72.72727272727273% 30%;
}

.svg-mini_basketball {
	@extend %svg-common;
	background-position: 72.72727272727273% 40%;
}

.svg-miniten {
	@extend %svg-common;
	background-position: 72.72727272727273% 50%;
}

.svg-mothers_volleyball {
	@extend %svg-common;
	background-position: 72.72727272727273% 60%;
}

.svg-motorsports {
	@extend %svg-common;
	background-position: 72.72727272727273% 70%;
}

.svg-netball {
	@extend %svg-common;
	background-position: 0 80%;
}

.svg-oztag {
	@extend %svg-common;
	background-position: 9.090909090909092% 80%;
}

.svg-padel {
	@extend %svg-common;
	background-position: 18.181818181818183% 80%;
}

.svg-paleta_fronton {
	@extend %svg-common;
	background-position: 27.272727272727273% 80%;
}

.svg-pelota_mixteca {
	@extend %svg-common;
	background-position: 36.36363636363637% 80%;
}

.svg-peteca {
	@extend %svg-common;
	background-position: 45.45454545454545% 80%;
}

.svg-pickleball {
	@extend %svg-common;
	background-position: 54.54545454545455% 80%;
}

.svg-platform_tennis {
	@extend %svg-common;
	background-position: 63.63636363636363% 80%;
}

.svg-polo {
	@extend %svg-common;
	background-position: 72.72727272727273% 80%;
}

.svg-powerchair_football {
	@extend %svg-common;
	background-position: 81.81818181818181% 0;
}

.svg-quad_hockey {
	@extend %svg-common;
	background-position: 81.81818181818181% 10%;
}

.svg-rackets {
	@extend %svg-common;
	background-position: 81.81818181818181% 20%;
}

.svg-racquetball {
	@extend %svg-common;
	background-position: 81.81818181818181% 30%;
}

.svg-radball-cycle {
	@extend %svg-common;
	background-position: 81.81818181818181% 40%;
}

.svg-real_tennis {
	@extend %svg-common;
	background-position: 81.81818181818181% 50%;
}

.svg-ringball {
	@extend %svg-common;
	background-position: 81.81818181818181% 60%;
}

.svg-ringette {
	@extend %svg-common;
	background-position: 81.81818181818181% 70%;
}

.svg-roll_ball {
	@extend %svg-common;
	background-position: 81.81818181818181% 80%;
}

.svg-rowing {
	@extend %svg-common;
	background-position: 0 90%;
}

.svg-rugby {
	@extend %svg-common;
	background-position: 9.090909090909092% 90%;
}

.svg-sailing {
	@extend %svg-common;
	background-position: 18.181818181818183% 90%;
}

.svg-sepak_takraw {
	@extend %svg-common;
	background-position: 27.272727272727273% 90%;
}

.svg-shinty {
	@extend %svg-common;
	background-position: 36.36363636363637% 90%;
}

.svg-ski_and_snowboard {
	@extend %svg-common;
	background-position: 45.45454545454545% 90%;
}

.svg-sledge_hockey {
	@extend %svg-common;
	background-position: 54.54545454545455% 90%;
}

.svg-snow_volleyball {
	@extend %svg-common;
	background-position: 63.63636363636363% 90%;
}

.svg-soccer {
	@extend %svg-common;
	background-position: 72.72727272727273% 90%;
}

.svg-soft_tennis {
	@extend %svg-common;
	background-position: 81.81818181818181% 90%;
}

.svg-softball {
	@extend %svg-common;
	background-position: 90.9090909090909% 0;
}

.svg-speed_ball {
	@extend %svg-common;
	background-position: 90.9090909090909% 10%;
}

.svg-sports_business {
	@extend %svg-common;
	background-position: 90.9090909090909% 20%;
}

.svg-squash {
	@extend %svg-common;
	background-position: 90.9090909090909% 30%;
}

.svg-squash_tennis {
	@extend %svg-common;
	background-position: 90.9090909090909% 40%;
}

.svg-sticke_tennis {
	@extend %svg-common;
	background-position: 90.9090909090909% 50%;
}

.svg-sumo {
	@extend %svg-common;
	background-position: 90.9090909090909% 60%;
}

.svg-swimming {
	@extend %svg-common;
	background-position: 90.9090909090909% 70%;
}

.svg-table_tennis {
	@extend %svg-common;
	background-position: 90.9090909090909% 80%;
}

.svg-tag_rugby {
	@extend %svg-common;
	background-position: 90.9090909090909% 90%;
}

.svg-taspony {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-tchoukball {
	@extend %svg-common;
	background-position: 9.090909090909092% 100%;
}

.svg-tennis {
	@extend %svg-common;
	background-position: 18.181818181818183% 100%;
}

.svg-throwball {
	@extend %svg-common;
	background-position: 27.272727272727273% 100%;
}

.svg-touch_football {
	@extend %svg-common;
	background-position: 36.36363636363637% 100%;
}

.svg-touch_rugby {
	@extend %svg-common;
	background-position: 45.45454545454545% 100%;
}

.svg-track_and_field {
	@extend %svg-common;
	background-position: 54.54545454545455% 100%;
}

.svg-triathlon {
	@extend %svg-common;
	background-position: 63.63636363636363% 100%;
}

.svg-ultimate {
	@extend %svg-common;
	background-position: 72.72727272727273% 100%;
}

.svg-volleyball {
	@extend %svg-common;
	background-position: 81.81818181818181% 100%;
}

.svg-wall-handball {
	@extend %svg-common;
	background-position: 90.9090909090909% 100%;
}

.svg-wallyball {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-water_basketball {
	@extend %svg-common;
	background-position: 100% 10%;
}

.svg-water_polo {
	@extend %svg-common;
	background-position: 100% 20%;
}

.svg-weightlifting {
	@extend %svg-common;
	background-position: 100% 30%;
}

.svg-wheelchair_basketball {
	@extend %svg-common;
	background-position: 100% 40%;
}

.svg-wheelchair_handball {
	@extend %svg-common;
	background-position: 100% 50%;
}

.svg-wheelchair_rugby {
	@extend %svg-common;
	background-position: 100% 60%;
}

.svg-wrestling {
	@extend %svg-common;
	background-position: 100% 70%;
}

