$primitive-primary: #ff395f;
$primitive-secondary: #ff881f;
$dark-base-background: #191919;
$dark-base-space: #111;
$dark-base-surface: #202224;
$dark-base-accent-deep: rgba(0, 0, 0, 0.15);
$dark-base-accent-shallow: rgba(255, 255, 255, 0.05);
$dark-base-divider: rgba(255, 255, 255, 0.12);
$dark-element-base-high-emphasis: #fff;
$dark-element-base-medium-emphasis: rgba(255, 255, 255, 0.6);
$dark-element-base-low-emphasis: rgba(255, 255, 255, 0.3);
$dark-element-base-disabled: rgba(255, 255, 255, 0.15);
$dark-element-accent-negative: #b3bbc7;
$dark-element-accent-positive: #ffce1f;
$dark-element-accent-success: #11eb5a;
$dark-element-floating-above-surface: rgba(255, 255, 255, 0.15);
$light-base-background: #fff;
$light-base-accent-deep: rgba(255, 255, 255, 0.45);
$light-base-accent-shallow: rgba(0, 0, 0, 0.07);
$light-base-space: #efefef;
$light-base-surface: #f7f7f7;
$light-base-divider: rgba(0, 0, 0, 0.07);
$light-element-base-high-emphasis: #000;
$light-element-base-medium-emphasis: rgba(0, 0, 0, 0.64);
$light-element-base-low-emphasis: rgba(0, 0, 0, 0.44);
$light-element-base-disabled: rgba(0, 0, 0, 0.3);
$light-element-accent-negative: #667890;
$light-element-accent-positive: #eba51d;
$light-element-accent-success: #12ab4f;
$light-element-floating-above-surface: rgba(0, 0, 0, 0.1);