%svg-common {
	background: url("https://raw.githubusercontent.com/ookamiinc/Sporticon/master/src/build/css/svg/sprite.css.svg?sanitize=true") no-repeat;
}

.svg-9-man_volleyball {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-american_football {
	@extend %svg-common;
	background-position: 0.78125% 0;
}

.svg-amputee_football {
	@extend %svg-common;
	background-position: 1.5625% 0;
}

.svg-australian_football {
	@extend %svg-common;
	background-position: 2.34375% 0;
}

.svg-badminton {
	@extend %svg-common;
	background-position: 3.125% 0;
}

.svg-ball_badminton {
	@extend %svg-common;
	background-position: 3.90625% 0;
}

.svg-bandy {
	@extend %svg-common;
	background-position: 4.6875% 0;
}

.svg-baseball {
	@extend %svg-common;
	background-position: 5.46875% 0;
}

.svg-basketball {
	@extend %svg-common;
	background-position: 6.25% 0;
}

.svg-basque_pelota {
	@extend %svg-common;
	background-position: 7.03125% 0;
}

.svg-beach_basketball {
	@extend %svg-common;
	background-position: 7.8125% 0;
}

.svg-beach_soccer {
	@extend %svg-common;
	background-position: 8.59375% 0;
}

.svg-beach_tchoukball {
	@extend %svg-common;
	background-position: 9.375% 0;
}

.svg-beach_tennis {
	@extend %svg-common;
	background-position: 10.15625% 0;
}

.svg-beach_ultimate {
	@extend %svg-common;
	background-position: 10.9375% 0;
}

.svg-beach_volleyball {
	@extend %svg-common;
	background-position: 11.71875% 0;
}

.svg-biribol {
	@extend %svg-common;
	background-position: 12.5% 0;
}

.svg-boat_race {
	@extend %svg-common;
	background-position: 13.28125% 0;
}

.svg-boccia {
	@extend %svg-common;
	background-position: 14.0625% 0;
}

.svg-bossaball {
	@extend %svg-common;
	background-position: 14.84375% 0;
}

.svg-bound_tennis {
	@extend %svg-common;
	background-position: 15.625% 0;
}

.svg-bowling {
	@extend %svg-common;
	background-position: 16.40625% 0;
}

.svg-broomball {
	@extend %svg-common;
	background-position: 17.1875% 0;
}

.svg-canadian_football {
	@extend %svg-common;
	background-position: 17.96875% 0;
}

.svg-canoe_polo {
	@extend %svg-common;
	background-position: 18.75% 0;
}

.svg-climbing {
	@extend %svg-common;
	background-position: 19.53125% 0;
}

.svg-combat {
	@extend %svg-common;
	background-position: 20.3125% 0;
}

.svg-crossminton {
	@extend %svg-common;
	background-position: 21.09375% 0;
}

.svg-curling {
	@extend %svg-common;
	background-position: 21.875% 0;
}

.svg-cycle_polo {
	@extend %svg-common;
	background-position: 22.65625% 0;
}

.svg-cycling {
	@extend %svg-common;
	background-position: 23.4375% 0;
}

.svg-dance {
	@extend %svg-common;
	background-position: 24.21875% 0;
}

.svg-ecua_volley {
	@extend %svg-common;
	background-position: 25% 0;
}

.svg-esci_tennis {
	@extend %svg-common;
	background-position: 25.78125% 0;
}

.svg-extreme_sports {
	@extend %svg-common;
	background-position: 26.5625% 0;
}

.svg-fencing {
	@extend %svg-common;
	background-position: 27.34375% 0;
}

.svg-figure_skating {
	@extend %svg-common;
	background-position: 28.125% 0;
}

.svg-fistball {
	@extend %svg-common;
	background-position: 28.90625% 0;
}

.svg-flag_football {
	@extend %svg-common;
	background-position: 29.6875% 0;
}

.svg-floor_ball {
	@extend %svg-common;
	background-position: 30.46875% 0;
}

.svg-floor_hockey {
	@extend %svg-common;
	background-position: 31.25% 0;
}

.svg-footbag_net {
	@extend %svg-common;
	background-position: 32.03125% 0;
}

.svg-footvolley {
	@extend %svg-common;
	background-position: 32.8125% 0;
}

.svg-free_tennis {
	@extend %svg-common;
	background-position: 33.59375% 0;
}

.svg-frontenis {
	@extend %svg-common;
	background-position: 34.375% 0;
}

.svg-futsal {
	@extend %svg-common;
	background-position: 35.15625% 0;
}

.svg-gaelic_football {
	@extend %svg-common;
	background-position: 35.9375% 0;
}

.svg-goalball {
	@extend %svg-common;
	background-position: 36.71875% 0;
}

.svg-golf {
	@extend %svg-common;
	background-position: 37.5% 0;
}

.svg-gymnastics {
	@extend %svg-common;
	background-position: 38.28125% 0;
}

.svg-handball {
	@extend %svg-common;
	background-position: 39.0625% 0;
}

.svg-hardball_squash {
	@extend %svg-common;
	background-position: 39.84375% 0;
}

.svg-hardcourt_bike_polo {
	@extend %svg-common;
	background-position: 40.625% 0;
}

.svg-hockey {
	@extend %svg-common;
	background-position: 41.40625% 0;
}

.svg-hooverball {
	@extend %svg-common;
	background-position: 42.1875% 0;
}

.svg-horse_racing {
	@extend %svg-common;
	background-position: 42.96875% 0;
}

.svg-hurling {
	@extend %svg-common;
	background-position: 43.75% 0;
}

.svg-ice_hockey {
	@extend %svg-common;
	background-position: 44.53125% 0;
}

.svg-indiaca {
	@extend %svg-common;
	background-position: 45.3125% 0;
}

.svg-inline_hockey {
	@extend %svg-common;
	background-position: 46.09375% 0;
}

.svg-jai_alai {
	@extend %svg-common;
	background-position: 46.875% 0;
}

.svg-judo {
	@extend %svg-common;
	background-position: 47.65625% 0;
}

.svg-kendo {
	@extend %svg-common;
	background-position: 48.4375% 0;
}

.svg-kin-ball {
	@extend %svg-common;
	background-position: 49.21875% 0;
}

.svg-korfball {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-lacross {
	@extend %svg-common;
	background-position: 50.78125% 0;
}

.svg-large_ball {
	@extend %svg-common;
	background-position: 51.5625% 0;
}

.svg-marine_sports {
	@extend %svg-common;
	background-position: 52.34375% 0;
}

.svg-mini_basketball {
	@extend %svg-common;
	background-position: 53.125% 0;
}

.svg-miniten {
	@extend %svg-common;
	background-position: 53.90625% 0;
}

.svg-mothers_volleyball {
	@extend %svg-common;
	background-position: 54.6875% 0;
}

.svg-motorsports {
	@extend %svg-common;
	background-position: 55.46875% 0;
}

.svg-netball {
	@extend %svg-common;
	background-position: 56.25% 0;
}

.svg-oztag {
	@extend %svg-common;
	background-position: 57.03125% 0;
}

.svg-padel {
	@extend %svg-common;
	background-position: 57.8125% 0;
}

.svg-paleta_fronton {
	@extend %svg-common;
	background-position: 58.59375% 0;
}

.svg-pelota_mixteca {
	@extend %svg-common;
	background-position: 59.375% 0;
}

.svg-peteca {
	@extend %svg-common;
	background-position: 60.15625% 0;
}

.svg-pickleball {
	@extend %svg-common;
	background-position: 60.9375% 0;
}

.svg-platform_tennis {
	@extend %svg-common;
	background-position: 61.71875% 0;
}

.svg-polo {
	@extend %svg-common;
	background-position: 62.5% 0;
}

.svg-powerchair_football {
	@extend %svg-common;
	background-position: 63.28125% 0;
}

.svg-quad_hockey {
	@extend %svg-common;
	background-position: 64.0625% 0;
}

.svg-rackets {
	@extend %svg-common;
	background-position: 64.84375% 0;
}

.svg-racquetball {
	@extend %svg-common;
	background-position: 65.625% 0;
}

.svg-radball {
	@extend %svg-common;
	background-position: 66.40625% 0;
}

.svg-real_tennis {
	@extend %svg-common;
	background-position: 67.1875% 0;
}

.svg-ringball {
	@extend %svg-common;
	background-position: 67.96875% 0;
}

.svg-ringette {
	@extend %svg-common;
	background-position: 68.75% 0;
}

.svg-roll_ball {
	@extend %svg-common;
	background-position: 69.53125% 0;
}

.svg-rowing {
	@extend %svg-common;
	background-position: 70.3125% 0;
}

.svg-rugby {
	@extend %svg-common;
	background-position: 71.09375% 0;
}

.svg-sailing {
	@extend %svg-common;
	background-position: 71.875% 0;
}

.svg-sepak_takraw {
	@extend %svg-common;
	background-position: 72.65625% 0;
}

.svg-shinty {
	@extend %svg-common;
	background-position: 73.4375% 0;
}

.svg-ski_and_snowboard {
	@extend %svg-common;
	background-position: 74.21875% 0;
}

.svg-sledge_hockey {
	@extend %svg-common;
	background-position: 75% 0;
}

.svg-snow_volleyball {
	@extend %svg-common;
	background-position: 75.78125% 0;
}

.svg-soccer {
	@extend %svg-common;
	background-position: 76.5625% 0;
}

.svg-soft_tennis {
	@extend %svg-common;
	background-position: 77.34375% 0;
}

.svg-softball {
	@extend %svg-common;
	background-position: 78.125% 0;
}

.svg-speed_ball {
	@extend %svg-common;
	background-position: 78.90625% 0;
}

.svg-sports_business {
	@extend %svg-common;
	background-position: 79.6875% 0;
}

.svg-squash {
	@extend %svg-common;
	background-position: 80.46875% 0;
}

.svg-squash_tennis {
	@extend %svg-common;
	background-position: 81.25% 0;
}

.svg-sticke_tennis {
	@extend %svg-common;
	background-position: 82.03125% 0;
}

.svg-sumo {
	@extend %svg-common;
	background-position: 82.8125% 0;
}

.svg-swimming {
	@extend %svg-common;
	background-position: 83.59375% 0;
}

.svg-table_tennis {
	@extend %svg-common;
	background-position: 84.375% 0;
}

.svg-tag_rugby {
	@extend %svg-common;
	background-position: 85.15625% 0;
}

.svg-taspony {
	@extend %svg-common;
	background-position: 85.9375% 0;
}

.svg-tchoukball {
	@extend %svg-common;
	background-position: 86.71875% 0;
}

.svg-tennis {
	@extend %svg-common;
	background-position: 87.5% 0;
}

.svg-throwball {
	@extend %svg-common;
	background-position: 88.28125% 0;
}

.svg-touch_football {
	@extend %svg-common;
	background-position: 89.0625% 0;
}

.svg-touch_rugby {
	@extend %svg-common;
	background-position: 89.84375% 0;
}

.svg-track_and_field {
	@extend %svg-common;
	background-position: 90.625% 0;
}

.svg-triathlon {
	@extend %svg-common;
	background-position: 91.40625% 0;
}

.svg-ultimate {
	@extend %svg-common;
	background-position: 92.1875% 0;
}

.svg-volleyball {
	@extend %svg-common;
	background-position: 92.96875% 0;
}

.svg-wall_handball {
	@extend %svg-common;
	background-position: 93.75% 0;
}

.svg-wallyball {
	@extend %svg-common;
	background-position: 94.53125% 0;
}

.svg-water_basketball {
	@extend %svg-common;
	background-position: 95.3125% 0;
}

.svg-water_polo {
	@extend %svg-common;
	background-position: 96.09375% 0;
}

.svg-weightlifting {
	@extend %svg-common;
	background-position: 96.875% 0;
}

.svg-wheelchair_basketball {
	@extend %svg-common;
	background-position: 97.65625% 0;
}

.svg-wheelchair_handball {
	@extend %svg-common;
	background-position: 98.4375% 0;
}

.svg-wheelchair_rugby {
	@extend %svg-common;
	background-position: 99.21875% 0;
}

.svg-wrestling {
	@extend %svg-common;
	background-position: 100% 0;
}

