@font-face {
    font-family: "Sporticon";
    src: url("./Sporticon.eot?cb2d69a344b73abd2e90edaf204a63f1?#iefix") format("embedded-opentype"),
url("./Sporticon.woff2?cb2d69a344b73abd2e90edaf204a63f1") format("woff2"),
url("./Sporticon.woff?cb2d69a344b73abd2e90edaf204a63f1") format("woff"),
url("./Sporticon.ttf?cb2d69a344b73abd2e90edaf204a63f1") format("truetype"),
url("./Sporticon.svg?cb2d69a344b73abd2e90edaf204a63f1#Sporticon") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: Sporticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-9Man-Volleyball:before {
    content: "\f101";
}
.icon-American-Football:before {
    content: "\f102";
}
.icon-Amputee-Football:before {
    content: "\f103";
}
.icon-Australian-Football:before {
    content: "\f104";
}
.icon-Badminton:before {
    content: "\f105";
}
.icon-Ball-Badminton:before {
    content: "\f106";
}
.icon-Bandy:before {
    content: "\f107";
}
.icon-Baseball:before {
    content: "\f108";
}
.icon-Basketball:before {
    content: "\f109";
}
.icon-Basque-Pelota:before {
    content: "\f10a";
}
.icon-Beach-Basketball:before {
    content: "\f10b";
}
.icon-Beach-Soccer:before {
    content: "\f10c";
}
.icon-Beach-Tchoukball:before {
    content: "\f10d";
}
.icon-Beach-Tennis:before {
    content: "\f10e";
}
.icon-Beach-Ultimate:before {
    content: "\f10f";
}
.icon-Beach-Volleyball:before {
    content: "\f110";
}
.icon-Biribol:before {
    content: "\f111";
}
.icon-Boat-Race:before {
    content: "\f112";
}
.icon-Boccia:before {
    content: "\f113";
}
.icon-Bossaball:before {
    content: "\f114";
}
.icon-Bound-Tennis:before {
    content: "\f115";
}
.icon-Bowling:before {
    content: "\f116";
}
.icon-Broomball:before {
    content: "\f117";
}
.icon-Canadian-Football:before {
    content: "\f118";
}
.icon-Canoe-Polo:before {
    content: "\f119";
}
.icon-Climbing:before {
    content: "\f11a";
}
.icon-Combat:before {
    content: "\f11b";
}
.icon-Crossminton:before {
    content: "\f11c";
}
.icon-Curling:before {
    content: "\f11d";
}
.icon-Cycle-Polo:before {
    content: "\f11e";
}
.icon-Cycling:before {
    content: "\f11f";
}
.icon-Dance:before {
    content: "\f120";
}
.icon-Ecua-Volley:before {
    content: "\f121";
}
.icon-Esci-Tennis:before {
    content: "\f122";
}
.icon-Extreme-Sports:before {
    content: "\f123";
}
.icon-Fencing:before {
    content: "\f124";
}
.icon-Figure-Skating:before {
    content: "\f125";
}
.icon-Fistball:before {
    content: "\f126";
}
.icon-Flag-Football:before {
    content: "\f127";
}
.icon-Floor-Ball:before {
    content: "\f128";
}
.icon-Floor-Hockey:before {
    content: "\f129";
}
.icon-Footbag-Net:before {
    content: "\f12a";
}
.icon-Footvolley:before {
    content: "\f12b";
}
.icon-Free-Tennis:before {
    content: "\f12c";
}
.icon-Frontenis:before {
    content: "\f12d";
}
.icon-Futsal:before {
    content: "\f12e";
}
.icon-Gaelic-Football:before {
    content: "\f12f";
}
.icon-Goalball:before {
    content: "\f130";
}
.icon-Golf:before {
    content: "\f131";
}
.icon-Gymnastics:before {
    content: "\f132";
}
.icon-Handball:before {
    content: "\f133";
}
.icon-Hardball-Squash:before {
    content: "\f134";
}
.icon-Hardcourt-Bike Polo:before {
    content: "\f135";
}
.icon-Hockey:before {
    content: "\f136";
}
.icon-Hooverball:before {
    content: "\f137";
}
.icon-Horse-Racing:before {
    content: "\f138";
}
.icon-Hurling:before {
    content: "\f139";
}
.icon-Ice-Hockey:before {
    content: "\f13a";
}
.icon-Indiaca:before {
    content: "\f13b";
}
.icon-Inline-Hockey:before {
    content: "\f13c";
}
.icon-Jai-Alai:before {
    content: "\f13d";
}
.icon-Judo:before {
    content: "\f13e";
}
.icon-Kendo:before {
    content: "\f13f";
}
.icon-Kin-Ball:before {
    content: "\f140";
}
.icon-Korfball:before {
    content: "\f141";
}
.icon-Lacrosse:before {
    content: "\f142";
}
.icon-Large-Ball:before {
    content: "\f143";
}
.icon-Marine-Sports:before {
    content: "\f144";
}
.icon-Mini-Basketball:before {
    content: "\f145";
}
.icon-Miniten:before {
    content: "\f146";
}
.icon-Mothers-Volleyball:before {
    content: "\f147";
}
.icon-Motorsports:before {
    content: "\f148";
}
.icon-Netball:before {
    content: "\f149";
}
.icon-Oztag:before {
    content: "\f14a";
}
.icon-Padel:before {
    content: "\f14b";
}
.icon-Paleta-Fronton:before {
    content: "\f14c";
}
.icon-Pelota-Mixteca:before {
    content: "\f14d";
}
.icon-Peteca:before {
    content: "\f14e";
}
.icon-Pickleball:before {
    content: "\f14f";
}
.icon-Platform-Tennis:before {
    content: "\f150";
}
.icon-Polo:before {
    content: "\f151";
}
.icon-Powerchair-Football:before {
    content: "\f152";
}
.icon-Quad-Hockey:before {
    content: "\f153";
}
.icon-Rackets:before {
    content: "\f154";
}
.icon-Racquetball:before {
    content: "\f155";
}
.icon-Radball:before {
    content: "\f156";
}
.icon-Real-Tennis:before {
    content: "\f157";
}
.icon-Ringball:before {
    content: "\f158";
}
.icon-Ringette:before {
    content: "\f159";
}
.icon-Roll-Ball:before {
    content: "\f15a";
}
.icon-Rowing:before {
    content: "\f15b";
}
.icon-Rugby:before {
    content: "\f15c";
}
.icon-Sailing:before {
    content: "\f15d";
}
.icon-Sepak-Takraw:before {
    content: "\f15e";
}
.icon-Shinty:before {
    content: "\f15f";
}
.icon-Ski-and Snowboard:before {
    content: "\f160";
}
.icon-Sledge-Hockey:before {
    content: "\f161";
}
.icon-Snow-Volleyball:before {
    content: "\f162";
}
.icon-Soccer:before {
    content: "\f163";
}
.icon-Soft-Tennis:before {
    content: "\f164";
}
.icon-Softball:before {
    content: "\f165";
}
.icon-Speed-Ball:before {
    content: "\f166";
}
.icon-Sports-Business:before {
    content: "\f167";
}
.icon-Squash-Tennis:before {
    content: "\f168";
}
.icon-Squash:before {
    content: "\f169";
}
.icon-Stické-Tennis:before {
    content: "\f16a";
}
.icon-Sumo:before {
    content: "\f16b";
}
.icon-Swimming:before {
    content: "\f16c";
}
.icon-Table-Tennis:before {
    content: "\f16d";
}
.icon-Tag-Rugby:before {
    content: "\f16e";
}
.icon-Taspony:before {
    content: "\f16f";
}
.icon-Tchoukball:before {
    content: "\f170";
}
.icon-Tennis:before {
    content: "\f171";
}
.icon-Throwball:before {
    content: "\f172";
}
.icon-Touch-Football:before {
    content: "\f173";
}
.icon-Touch-Rugby:before {
    content: "\f174";
}
.icon-Track-and Field:before {
    content: "\f175";
}
.icon-Triathlon:before {
    content: "\f176";
}
.icon-Ultimate:before {
    content: "\f177";
}
.icon-Volleyball:before {
    content: "\f178";
}
.icon-Wall-Handball:before {
    content: "\f179";
}
.icon-Wallyball:before {
    content: "\f17a";
}
.icon-Water-Basketball:before {
    content: "\f17b";
}
.icon-Water-Polo:before {
    content: "\f17c";
}
.icon-Weightlifting:before {
    content: "\f17d";
}
.icon-Wheelchair-Basketball:before {
    content: "\f17e";
}
.icon-Wheelchair-Handball:before {
    content: "\f17f";
}
.icon-Wheelchair-Rugby:before {
    content: "\f180";
}
.icon-Wrestling:before {
    content: "\f181";
}
